@model mvc.ViewModels.RubroFormModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="title">Eliminar Rubro</h3>
</div>

<div class="modal-body">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @ViewBag.Message
}
</div>

<div class="modal-footer">
    <button type="button" data-dismiss="modal">Cerrar</button>
</div>
