<div id="ez-header" class="ez_view_header" style="display: none;">
    <div id="ez-breadcrumb" class="grid-row">
        <div class="grid-cal-7">
            <div class="ez_breadcrumb">
            </div>
        </div>
        <div class="grid-cal-5"><!--NONE--></div>
    </div>
    <div class="grid-row">
        <div class="grid-cal-3">
            <!--BUTTONS-->
            <div id="ez-header-buttons" style="white-space: nowrap;">
            </div>
        </div>
        <div class="grid-cal-6">
            <!--SIDEBAR-->
        </div>
        <div class="grid-cal-3">
            <!--PAGER-->
            <!--SWITCH-->
        </div>
    </div>
</div>