@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ez_form_sheetbg" >
    @RenderBody()
</div>

@section styles {
    @RenderSection("styles", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}