@model mvc.ViewModels.UnidadMedidaFormModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="title">Eliminar Unidad</h3>
</div>

<div class="modal-body">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @ViewBag.Message
}
</div>

<div class="modal-footer">
    <button type="button" id="delete" data-dismiss="modal">Confirmar</button>
    <button type="button" data-dismiss="modal">Cerrar</button>
</div>

<script>
    $(function () {

        $("#delete").click(function () {
            submitForm();
        });

        function submitForm() {

            let postData = {
                Id: $("#Id").val()
            };

            $.ajax({
                method: "POST",
                url: "@Url.Action("Delete")",
                data: postData,
                success: function (result) {
                    if (result.data) {
                        window.location.href = '@Url.Action("Index","UnidadMedida")';
                    }
                    else {
                        ValidationDeleteUnidad(postData);
                    }
                }
            });
        }

    });
</script>
